body{
    background-image: url("images/background.jpg");
    background-size:100% ;
}
nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
header h1 {
    text-align: center;
    font-family: "Bauhaus 93";
    font-weight: bolder;

}
header h2 {
    text-align: center;
    font-family: "Bauhaus 93";
    font-weight: bolder;
}
header{
    background: #330033;
    text-align: center;
    font-family: "Bauhaus 93";
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}
.flexRow{
    display: flex;
    flex-direction: row;
}
a{
    color: red;
    background: black;
    margin: 0;
}
a:hover{
    color: mediumpurple;
    background: ghostwhite;
}
button{
    background: red;
    color: white;
    width: 15%;
}
form{
    font-family: Arial;
    color: black;
    background: black;
    padding: 20px;
    border-radius: 10px;
    margin-top:0 ;

}
div #b label{
    width: 100%;
}
div #b input {
    width: 300px;
}
.center {
    display: none;
}
#pizzaMaker{
    display: flex;
    flex-direction: column;
}
.details{
    border: black 5px solid;
    margin-bottom: 10px;
    padding: 10px;
}
.details p{
    text-align: left;
}

input{
    background: honeydew;
    border: black solid 1px;
}
footer{
    text-align: center;
    display: block;
    background: black;
    color: #FFFFFF;
    bottom: 0;
    width: 100%;
}
form{
    display: block;
    background: whitesmoke;
}
#output h2{
    text-align: center;
}

@media (min-width:600px) {
    .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

